
.hero {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)),
        url('/1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    color: #f9fafc;
}

.hero-content {
    text-align: center;
}

.hero-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.hero-content p {
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.hero-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.hero-item {
    padding: 0 100px;
}

.hero-item img {
    width: 155px;
    margin-bottom: 15px;
}

.hero-item h3 {
    font-size: 18px;
    color: #ffffff;
}
